@charset "UTF-8"
// mixins
//
// Color
$white:       #FFFFFF
$black:       #000000
$gray:        #5B5B5B
$purple:      #622167
//  
$lauftext:    $black
$header1:     $purple
$header2:     $purple
$hover:       $purple
$lead:        $black
$navi:        $black
$navi-hover:  $purple
$link:        $purple

//
// Font
=glunz()
  font-family: 'glunzRegular', "Helvetica Neue"
  font-weight: normal
  font-style: normal

=glunz-light()
  font-family: 'glunzLight', "Helvetica Neue"
  font-weight: normal
  font-style: normal

=glunz-bold()
  font-family: 'glunzBold', "Helvetica Neue"
  font-weight: normal
  font-style: normal

//
//Style
=round($r1:0px, $r2:0px, $r3:0px, $r4:0px)
  -webkit-border-radius: $r1, $r2, $r3, $r4
  -moz-border-radius: $r1, $r2, $r3, $r4
  -ms-border-radius: $r1, $r2, $r3, $r4
  -o-border-radius: $r1, $r2, $r3, $r4
  border-radius: $r1, $r2, $r3, $r4

=boxshadow($value...)
  -webkit-box-shadow: $value
  box-shadow: $value

=transform($value...)
  -moz-transform: $value
  -webkit-transform: $value
  -o-transform: $value
  -ms-transform: $value
  transform: $value

=transition($value...)
  -webkit-transition: $value
  -moz-transition: $value
  -ms-transition: $value
  -o-transition: $value
  transition: $value

=animation($value...)
  -webkit-animation: $value
  -moz-animation: $value
  -ms-animation: $value
  -o-animation: $value
  animation: $value

// keyframes mixin
=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

//
// Calc
=calc($property, $expression)
  #{$property}: -webkit-calc(#{$expression})
  #{$property}: calc(#{$expression})

//
// Retina
=image($image_name, $w: auto, $h: auto, $extention: '.jpg')
  background-image: url('../images/' + $image_name + $extention)
  $x2img : $image_name + '@2x' + $extention
  @media all and (-webkit-min-device-pixel-ratio : 1.5)
    background-image: url('../images/' + $x2img)
    background-size: $w $h

//
// RGBA
=rgba($r,$g,$b,$a,$fallback)
  background-color: $fallback
  background-color: rgba($r, $g, $b, $a)

//
// FullScreen Background
=fullscreen($image_path, $exten: '.jpg')
  $image_p : '../images/' + $image_path + '/'
  width: 100%
  height: 100%
  background: url($image_p + '_768' + $exten) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  $image_p2x : $image_p + '_768' + '@2x' + $exten
  @media all and (-webkit-min-device-pixel-ratio : 1.5)
    background-image: url($image_p2x)
  @media screen and (min-width: 768px)
    background-image: url($image_p + '_992' + $exten)
    @media all and (-webkit-min-device-pixel-ratio : 1.5)
      background-image: url($image_p + '_992' + '@2x' + $exten)
  @media screen and (min-width: 992px)
    background-image: url($image_p + '_1200' + $exten)
    @media all and (-webkit-min-device-pixel-ratio : 1.5)
      background-image: url($image_p + '_1200' + '@2x' + $exten)
  @media screen and (min-width: 1200px)
    background-image: url($image_p + '_1440' + $exten)
    @media all and (-webkit-min-device-pixel-ratio : 1.5)
      background-image: url($image_p + '_1440' + '@2x' + $exten)
  // IE
  $iepath : 'assets/images/' + $image_path + '/_1200' + $exten
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{$iepath}', sizingMethod='scale')
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + $iepath + "', sizingMethod='scale')"
