@charset "UTF-8"
// scaffold
//
// Color

body
  font-size: 14px
  line-height: 1.2em

#wrapper
  width: 1024px
  position: relative
  margin: 0 auto
  overflow-x: hidden
  font-size: 14px
  line-height: 20px
  padding: 0px

// Header
.header
  display: block
  position: relative
  height: 229px
  padding: 0px
  +round(0px, 5px, 5px, 0px)

.header_home
  @extend .header
  height: 523px
  +image(header/himmel, 200px, 523px, '.jpg')